In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from copy import deepcopy

In [2]:
invited_info_train = pd.read_csv("./bytecup2016data/invited_info_train.txt", sep='\t', names=['qid', 'uid', 'label'])

In [3]:
invited_info_train.head()

                                qid                               uid  label
0  1c525c9d44135bdc40ddd4b8d63738d8  e6a2ecac7f90d426103de95ba7f6d2b0      0
1  43c525e69431f916efcf8d09d99602ac  64e1c3152b0ad8ab1a3b6bbda5d2bbe8      1
2  e1a1009e93ea09bdd981029b592d89b8  405c2c59eb73d115b5d73d0d0cfc9c94      0
3  60f19c960a9300aabaf95ea49a9fe4c2  11ccc1bae27f606616070eca12441ffb      0
4  cb8f85a79be9cd9aae3af4a302b865a6  628b7aa38efb4c1ce999fe5cdf46a03e      0

In [4]:
invited_info_train_copy = deepcopy(invited_info_train)

In [5]:
invited_info_train_copy.loc[invited_info_train_copy.duplicated(['qid', 'uid'], keep=False), 'label'] = 1

In [6]:
invited_info_train_copy = invited_info_train_copy.drop_duplicates(['qid', 'uid'], keep='first')

In [7]:
invited_info_train_copy.head()

                                qid                               uid  label
0  1c525c9d44135bdc40ddd4b8d63738d8  e6a2ecac7f90d426103de95ba7f6d2b0      0
1  43c525e69431f916efcf8d09d99602ac  64e1c3152b0ad8ab1a3b6bbda5d2bbe8      1
2  e1a1009e93ea09bdd981029b592d89b8  405c2c59eb73d115b5d73d0d0cfc9c94      1
3  60f19c960a9300aabaf95ea49a9fe4c2  11ccc1bae27f606616070eca12441ffb      0
4  cb8f85a79be9cd9aae3af4a302b865a6  628b7aa38efb4c1ce999fe5cdf46a03e      0

In [8]:
question_info = pd.read_csv("./bytecup2016data/question_info.txt", sep='\t', 
                            names=['qid', 'qtag', 'qwid', 'qcid', '#upvotes', '#ans', '#tqans'])

In [9]:
question_info.head()

,qid,qtag,qwid,qcid,#upvotes,#ans,#tqans
0,c1c0075239841777d5b01c40b38135d2,0,0/1/2/3/4/5/6/7,0/1/2/3/4/5/6/5/7/8/9/3/10,103,6,5
1,367edcb36424493a7cf80f70903a64cd,1,8/9/10/11/12,11/12/13/14/15/15/16/17/12,173,10,5
2,fb9e401d86f20205d97a25f3aad76a67,2,13/14/15/16/17,18/19/20/21/22/23/24/25,221,5,5
3,e153659c6c654cd12122232fca89f4bc,3,18/19/20/21/22/23/24/21/25,26/27/28/29/30/31/32/33/34/35/36/37/38/39/33/3...,164,11,8
4,c1718491292fd44b9b33397d5e6a80ba,1,26/27/28/29/30/31/32/33/34/35/15,5/42/43/15/44/45/46/47/48/26/49/50/51/52/49/53...,67,3,3

In [10]:
question_info_copy = deepcopy(question_info)

In [11]:
qtag_unique = question_info_copy['qtag'].unique()
for i in range(len(qtag_unique)):
    question_info_copy['qtag_{}'.format(i)] = (question_info_copy['qtag'] == i).astype(int)

In [12]:
question_info_copy = question_info_copy.drop(['qtag'], axis=1)

In [13]:
question_info_copy.head()

,qid,qwid,qcid,#upvotes,#ans,#tqans,qtag_0,qtag_1,qtag_2,qtag_3,...,qtag_10,qtag_11,qtag_12,qtag_13,qtag_14,qtag_15,qtag_16,qtag_17,qtag_18,qtag_19
0,c1c0075239841777d5b01c40b38135d2,0/1/2/3/4/5/6/7,0/1/2/3/4/5/6/5/7/8/9/3/10,103,6,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,367edcb36424493a7cf80f70903a64cd,8/9/10/11/12,11/12/13/14/15/15/16/17/12,173,10,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,fb9e401d86f20205d97a25f3aad76a67,13/14/15/16/17,18/19/20/21/22/23/24/25,221,5,5,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,e153659c6c654cd12122232fca89f4bc,18/19/20/21/22/23/24/21/25,26/27/28/29/30/31/32/33/34/35/36/37/38/39/33/3...,164,11,8,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,c1718491292fd44b9b33397d5e6a80ba,26/27/28/29/30/31/32/33/34/35/15,5/42/43/15/44/45/46/47/48/26/49/50/51/52/49/53...,67,3,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
wid_new_id = np.arange(len(question_info_copy['qwid'].unique()))

In [15]:
np.random.shuffle(wid_new_id)

In [16]:
cid_new_id = np.arange(len(question_info_copy['qcid'].unique()))

In [17]:
np.random.shuffle(cid_new_id)

In [18]:
def replace_id(new_id_list, values):
    values = deepcopy(values)
    output_dict = {}
    uniq_values = values.unique()
    for i in range(len(new_id_list)):
        output_dict[uniq_values[i]] = new_id_list[i]
    for i in range(len(values)):
        values[i] = output_dict[values[i]]
    return values

In [19]:
question_info_copy['qwid'] = replace_id(wid_new_id, question_info_copy['qwid'])

In [20]:
question_info_copy['qcid'] = replace_id(cid_new_id, question_info_copy['qcid'])

In [21]:
def normal_col(column):
    mean = column.mean()
    std = column.std()
    column = (column - mean) / std
    return column

In [22]:
question_info_copy['qwid'] = normal_col(question_info_copy['qwid'])

In [23]:
question_info_copy['qcid'] = normal_col(question_info_copy['qcid'])

In [24]:
question_info_copy['#upvotes/#ans'] = question_info_copy['#upvotes'] / question_info_copy['#ans']

In [25]:
question_info_copy['#tqans/#ans'] = question_info_copy['#tqans'] / question_info_copy['#ans']

In [26]:
question_info_copy.loc[question_info_copy['#ans'] == 0, '#upvotes/#ans'] = 0.0

In [27]:
question_info_copy.loc[question_info_copy['#ans'] == 0, '#tqans/#ans'] = 0.0

In [28]:
question_info_copy['#upvotes'] = normal_col(question_info_copy['#upvotes'])
question_info_copy['#ans'] = normal_col(question_info_copy['#ans'])
question_info_copy['#tqans'] = normal_col(question_info_copy['#tqans'])
question_info_copy['#upvotes/#ans'] = normal_col(question_info_copy['#upvotes/#ans'])
question_info_copy['#tqans/#ans'] = normal_col(question_info_copy['#tqans/#ans'])

In [29]:
question_info_copy.head()

,qid,qwid,qcid,#upvotes,#ans,#tqans,qtag_0,qtag_1,qtag_2,qtag_3,...,qtag_12,qtag_13,qtag_14,qtag_15,qtag_16,qtag_17,qtag_18,qtag_19,#upvotes/#ans,#tqans/#ans
0,c1c0075239841777d5b01c40b38135d2,-0.692173,-1.29723,-0.173259,-0.182466,-0.156707,1,0,0,0,...,0,0,0,0,0,0,0,0,-0.147217,1.025146
1,367edcb36424493a7cf80f70903a64cd,-1.17229,1.02642,-0.159306,-0.161481,-0.156707,0,1,0,0,...,0,0,0,0,0,0,0,0,-0.146028,-0.099821
2,fb9e401d86f20205d97a25f3aad76a67,0.865112,0.0703283,-0.149737,-0.187712,-0.156707,0,0,1,0,...,0,0,0,0,0,0,0,0,0.093909,1.587629
3,e153659c6c654cd12122232fca89f4bc,-1.29736,0.994309,-0.161100,-0.156235,-0.054979,0,0,0,1,...,0,0,0,0,0,0,0,0,-0.167354,0.667202
4,c1718491292fd44b9b33397d5e6a80ba,0.990175,1.43018,-0.180435,-0.198204,-0.224525,0,1,0,0,...,0,0,0,0,0,0,0,0,-0.101133,1.587629

In [30]:
user_info = pd.read_csv("./bytecup2016data/user_info.txt", sep="\t", 
                        names=['uid', 'utag', 'uwid', 'ucid'])

In [31]:
user_info.head()

,uid,utag,uwid,ucid
0,61fa06d8908d0e4710a599f970f0ab5a,0/1,2327/1083/1083/344/3584/1634,608/182/441/182/441/441/442/263/158/141/878
1,4588a1df2461674252ff01c63b59171a,2/3/4/5/6,54/11880/113/13231/13232/113/8864/444/7404,92/93/160/160/183/1022/1022/183/732/732/183/14...
2,e8a0f6906978da77dab3d1d779bf2904,7,45/13233/1871/13234/2182/3754/444/2644,73/953/15/291/182/168/438/1474/107/377/11/1002...
3,ab01652daaa15bcbbb21b7c02a8f3646,8,76/13235/2149/13236,122/129/1571/1837/749/68/300/1481/354
4,4c3694faef04ea6cce28d9d838fc3dda,9/10/11/12,9465/1492/1734/13237,93/1289/232/305/646/345

In [32]:
user_info_copy = deepcopy(user_info)

In [33]:
uwid_new_id = np.arange(len(user_info_copy['uwid'].unique()))
np.random.shuffle(uwid_new_id)

In [34]:
ucid_new_id = np.arange(len(user_info_copy['ucid'].unique()))
np.random.shuffle(ucid_new_id)

In [35]:
user_info_copy['uwid'] = replace_id(uwid_new_id, user_info_copy['uwid'])

In [36]:
user_info_copy['ucid'] = replace_id(ucid_new_id, user_info_copy['ucid'])

In [37]:
for i in range(len(user_info_copy['utag'])):
    user_info_copy['utag'][i] = map(int, user_info_copy['utag'][i].split('/'))

In [38]:
user_info_copy.head()

                                uid             utag   uwid   ucid
0  61fa06d8908d0e4710a599f970f0ab5a           [0, 1]  12507   5545
1  4588a1df2461674252ff01c63b59171a  [2, 3, 4, 5, 6]  20228   2665
2  e8a0f6906978da77dab3d1d779bf2904              [7]   4836  22543
3  ab01652daaa15bcbbb21b7c02a8f3646              [8]   3402  14412
4  4c3694faef04ea6cce28d9d838fc3dda  [9, 10, 11, 12]  15309  17468

In [39]:
max_utag = max(user_info_copy['utag'][0])
for i in range(len(user_info_copy['utag'])):
    if max_utag < max(user_info_copy['utag'][i]):
        max_utag = max(user_info_copy['utag'][i])

In [40]:
for i in range(max_utag + 1):
    user_info_copy['utag_{0}'.format(i)] = 0

In [41]:
user_info_copy.head()

,uid,utag,uwid,ucid,utag_0,utag_1,utag_2,utag_3,utag_4,utag_5,...,utag_133,utag_134,utag_135,utag_136,utag_137,utag_138,utag_139,utag_140,utag_141,utag_142
0,61fa06d8908d0e4710a599f970f0ab5a,"[0, 1]",12507,5545,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4588a1df2461674252ff01c63b59171a,"[2, 3, 4, 5, 6]",20228,2665,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,e8a0f6906978da77dab3d1d779bf2904,[7],4836,22543,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ab01652daaa15bcbbb21b7c02a8f3646,[8],3402,14412,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4c3694faef04ea6cce28d9d838fc3dda,"[9, 10, 11, 12]",15309,17468,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
for i in range(len(user_info_copy)):
    num_list = user_info_copy.loc[i, 'utag']
    for num in num_list:
        user_info_copy.loc[i, 'utag_{0}'.format(num)] = 1

In [43]:
user_info_copy = user_info_copy.drop(['utag'], axis=1)

In [44]:
user_info_copy['uwid'] = normal_col(user_info_copy['uwid'])
user_info_copy['ucid'] = normal_col(user_info_copy['ucid'])

In [45]:
# user_info_copy

In [46]:
invited_info_train_copy.to_csv('invited_info_csv.txt', sep='\t', index=False)
question_info_copy.to_csv('question_info_csv.txt', sep='\t', index=False)
user_info_copy.to_csv('user_info_csv.txt', sep='\t', index=False)