In [1]:
import pandas as pd
import numpy as np

In [2]:
unpredict_csv = pd.read_csv('unpredict_csv.csv', sep=',', names=['qid', 'uid', 'label'])

In [3]:
result = pd.read_csv('result_1104MF.csv', sep=',')

In [4]:
unpredict_csv.head()

,qid,uid,label
0,b06674d5f2135b4f296d25677a795f80,18ef078c925908094fa5302805a71cac,0.467610
1,76e176fafb7b912fce20dae5808c1692,f63e5dc51d33cebcc3f3156bca7caf05,0.042357
2,45b2e6cf298a44ccfc7217aef466c65d,16090798e6130d0d85ce120032673b8b,0.312736
3,f20d4c2bf14232f75c333b82bd18f145,bd50e31242e9819db5074411a89f0716,0.155055
4,109f6578872dcb79c52b41b78cac1cb9,e0ca1e9323dab52277c1e342aabd2f2b,0.260897

In [5]:
len(unpredict_csv)

930

In [6]:
result.tail()
# len(result)

,qid,uid,label
30461,f1e7b1411030aea6917f48f2beaf6569,50ae7a5442fdf557fa931d1fad7b3bba,0.174323
30462,94c3c9c4bd494941a83c84c3e14537dd,d5640f79490229b9db7b9b60c20afcc0,0.000000
30463,a28cbde2bc35cd3a508d5bfb1bfebe4b,1c62c1e3dac1c952002d1c96695c63d3,0.000000
30464,4eed6aab4dd5890f2f8a30af920c626e,ff345095a3560ac1bbd35a24044b4942,0.002012
30465,61f1d4c1662a294858c5975eeccd6f3d,09d7d4df36e7d177d8b40c234d5a9335,0.000000

In [7]:
sum(result['label'] == 0)

10268

In [8]:
final_result = result.merge(unpredict_csv, left_on=['qid', 'uid'], right_on=['qid', 'uid'], how='left')
final_result = final_result.drop_duplicates(['qid', 'uid'], keep='first')

In [9]:
final_result = final_result.fillna(0)

In [10]:
final_result['label'] = final_result['label_x'] + final_result['label_y']
final_result = final_result.drop(['label_x', 'label_y'], axis=1)
final_result.head()

,qid,uid,label
0,726c3abc84a99da48e27c2d8f19c2bc8,e85d05b6796c351e6a83cfc85309b023,0.000000
1,3737dc50f0f4b1a3df77b96cbf9ce928,e13419f565027f9c64bdab889acd1cbe,0.000000
2,a2adc7a16a129c2326706238e186cd11,b19ebc32f3d1de37e12792edc149993f,0.230239
3,56fadfe2695e9ce7c1e50d5f0fa705fb,ac0efd36e6f6eca572f448d6020dce89,0.014774
4,cf06c69d63dcab40a6f0b35d594d42b7,6aa377580a87ab45bc40da0cf220e530,1.000000

In [13]:
final_result.tail()

,qid,uid,label
30462,f1e7b1411030aea6917f48f2beaf6569,50ae7a5442fdf557fa931d1fad7b3bba,0.174323
30463,94c3c9c4bd494941a83c84c3e14537dd,d5640f79490229b9db7b9b60c20afcc0,0.000000
30464,a28cbde2bc35cd3a508d5bfb1bfebe4b,1c62c1e3dac1c952002d1c96695c63d3,0.000000
30465,4eed6aab4dd5890f2f8a30af920c626e,ff345095a3560ac1bbd35a24044b4942,0.002012
30466,61f1d4c1662a294858c5975eeccd6f3d,09d7d4df36e7d177d8b40c234d5a9335,0.000000

In [11]:
len(final_result), sum(final_result['label'] == 0)

(30466, 9339)

In [12]:
final_result.to_csv('result_1104_xgb.csv', sep=',', index=False)